body .table {
    word-break: break-all;
}

label {
    display: block;
}

div.required label:after {
    content: " *";
    color: #ff0000;
}

.mg-15{
	margin-bottom:15px;
}
.mt-25{
	margin-top:25px;
}
.task-status-search{
	min-height:70px;
}
