body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body .table {
	word-break: break-all;
}

label {
	display: block;
}

div.required label:after {
	content: " *";
	color: #ff0000;
}

.mb-0 {
	margin-bottom: 0;
}

.mg-15 {
	margin-bottom: 15px;
}

.mt-25 {
	margin-top: 25px;
}

.task-status-search {
	min-height: 70px;
}

.nowrap {
	white-space: nowrap;
}

.th-nowrap th {
	white-space: nowrap;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-line_trough {
	text-decoration: line-through;
}


@media (min-width: 776px) {
	.table-fixed-layout {
		table-layout: fixed;
	}

	.mw-120-md {
		max-width: 120px;
	}
}


.table-fixed-layout td input {
	width: 100%;
}

.bold-text {
	font-weight: bold;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	margin-top: 0;
}

.select2-container--krajee .select2-selection__clear {
	top: 0.2rem;
}

.kv-grid-loading {
	width: 100%;
}

.pay-wrapper {
	padding: 16px;
	margin-bottom: 16px;
}

.border {
	border: solid 2px;
}

.border-green {
	border-color: green;
}

.border-red {
	border-color: red;
}


@media print {
	.no-print, .no-print > * {
		display: none !important;
	}
}

.relative {
	position: relative;
}

.relative .csv-form {
	position: absolute;
	top: 0;
	right: 0;
}

.settlement-pay-index {
	position: relative;
}

.issue-pay-search .fields-wrapper {
	display: flex;
	align-items: center;
}


@media (min-width: 1140px) {
	.issue-pay-search .fields-wrapper {
		position: absolute;
		top: 30px;
		right: 0;
	}

	.issue-pay-search .form-group {
		max-width: 140px;
	}
}

.d-inline {
	display: inline;
}

.d-inline-flex {
	display: inline-flex;
}

.justify-center {
	justify-content: center;
}

.width-100 {
	width: 100% !important;
}


@media (min-width: 992px) {
	.provision-settlement-view .users-grid-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

.issue-users {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
	grid-gap: 1rem;
}


.half-transparent {
	opacity: 0.5;
}

.transparent-event {
	opacity: 0.25;
}

.ui-autocomplete-loading {
	background: url('/static/img/indicator.gif') no-repeat center center;
	background-size: 20px 20px;
}


input[type="tel"]::placeholder {
	color: transparent;
}

input[type="tel"]::-moz-placeholder {
	color: transparent;
}

input[type="tel"]::-webkit-input-placeholder {
	color: transparent;
}

input[type="tel"]::-ms-input-placeholder {
	color: transparent;
}

.sidebar-menu .treeview-menu > li > a {
	white-space: collapse;
}

.title-with-nav h1 {
	display: flex;
	align-items: center;
}

.title-with-nav .nav {
	font-size: 14px;
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}


.nav-with-favorite li {
	position: relative;
}

.nav-with-favorite li:not(:last-child) a:first-child {
	padding-right: 24px;
}


.nav-with-favorite li:not(.dropdown) .favorite-link {
	position: absolute;
	right: 4px;
	top: 13px;
	padding: 0;
	border: none;
}

.nav-with-favorite li.dropdown .favorite-link {
	position: absolute;
	right: 16px;
	top: 13px;
	padding: 0;
	border: none;
}

.nav-with-favorite li .caret {
	position: absolute;
	right: 4px;
	top: 18px;
}

.nav-with-favorite li.dropdown:not(:last-child) a:first-child {
	padding-right: 36px;
}


.nav-with-favorite li.dropdown .dropdown-menu .favorite-link {
	position: absolute;
	right: 4px;
	top: 4px;
	padding: 0;
	border: none;
}

.nav-with-favorite .favorite-link.active {
	opacity: 1;
}

.nav-with-favorite .favorite-link:hover {
	opacity: 1;
	background: none;
}

.nav-with-favorite .favorite-link:not(.active) {
	opacity: 0.2;
}

.nav-with-favorite .favorite-link:not(.active):hover {
	opacity: 1;
}

.nav-with-favorite li a.favorite-link .glyphicon {
	margin-right: 0;
}


@media (min-width: 992px) {
	.title-with-nav .breadcrumb {
		top: 20px;
	}

}

div:target {
	box-shadow: 0 2px 6px rgba(255, 0, 0, 0.5);
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-name: highlight;
	animation-timing-function: ease-in-out;
	margin-top: 20px;
}

@keyframes highlight {
	from {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	to {
		box-shadow: 0 2px 6px rgba(255, 0, 0, 0.5);
	}
}


.label {
	font-size: 0.9em;
}

.grid-view .tags-wrapper a {
	color: #33596f
}

.grid-view .tags-wrapper a:hover {
	color: #06283d
}

.grid-view .tags-wrapper .label {
	font-size: 85%;
	font-weight: 600;
}

.tags-wrapper label {
	display: inline-block;
}

.tags-wrapper .label {
	display: inline-block;
}


.issue-users legend .tags-wrapper .label {
	font-size: 0.6em;
}

.panel-transparent {
	opacity: 0.5;
}

.reminder-grid-modal {
	position: relative;
}

.reminder-grid-modal .create-btn {
	position: absolute;
	right: 7px;
	top: 7px;
	z-index: 100;
}

.box-body h1:first-of-type {
	display: none;
}


.issue-create-count-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
}


.white-label {
	background: white;
}

.lead-from-market-label {
	color: rgb(0, 192, 239) !important;
	border: 1px solid rgb(0, 172, 214);
}

.lead-warning-deadline {
	background: #e1bc2a;
}

.lead-danger-deadline {
	background: #b62d2d;
}


.lead-on-market {
	background: #9bbbc68a !important;
	opacity: 0.4;
}

.lead-from-market {
	opacity: 0.8;
}

.btn-icon-with-link a {
	color: white;
}

.dropdown .dropdown-submenu > ul {
	padding-left: 32px;
}

.dropdown .dropdown-submenu li > a {
	color: #777;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 4px;
	white-space: nowrap;
	display: inline-block;
}


.dropdown .dropdown-submenu li:hover {
	background-color: #e1e3e9;
	color: #333;
}

.dropdown-raw-buttons > li > button {
	all: unset;
	color: #777;
	display: block;
	clear: both;
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
}

.dropdown-raw-buttons > li:hover {
	background-color: #e1e3e9;
	color: #333;
}
