body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body .table {
	word-break: break-all;
}

label {
	display: block;
}

div.required label:after {
	content: " *";
	color: #ff0000;
}

.mg-15 {
	margin-bottom: 15px;
}

.mt-25 {
	margin-top: 25px;
}

.task-status-search {
	min-height: 70px;
}

.nowrap {
	white-space: nowrap;
}

.th-nowrap th {
	white-space: nowrap;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-uppercase {
	text-transform: uppercase;
}


@media (min-width: 776px) {
	.table-fixed-layout {
		table-layout: fixed;
	}
}


.table-fixed-layout td input {
	width: 100%;
}

.bold-text {
	font-weight: bold;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	margin-top: 0;
}

.select2-container--krajee .select2-selection__clear {
	top: 0.2rem;
}

.kv-grid-loading {
	width: 100%;
}

.pay-wrapper {
	padding: 16px;
	margin-bottom: 16px;
}

.border {
	border: solid 2px;
}

.border-green {
	border-color: green;
}

.border-red {
	border-color: red;
}


@media print {
	.no-print, .no-print > * {
		display: none !important;
	}
}

.relative {
	position: relative;
}

.relative .csv-form {
	position: absolute;
	top: 0;
	right: 0;
}

.settlement-pay-index {
	position: relative;
}

.issue-pay-search .fields-wrapper {
	display: flex;
	align-items: center;
}


@media (min-width: 1140px) {
	.issue-pay-search .fields-wrapper {
		position: absolute;
		top: 30px;
		right: 0;
	}

	.issue-pay-search .form-group {
		max-width: 140px;
	}
}

.d-inline {
	display: inline;
}

.d-inline-flex {
	display: inline-flex;
}

.justify-center {
	justify-content: center;
}

.width-100 {
	width: 100% !important;
}


@media (min-width: 992px) {
	.provision-settlement-view .users-grid-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

.issue-users {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
	grid-gap: 1rem;
}


.half-transparent {
	opacity: 0.5;
}

.ui-autocomplete-loading {
	background: url('/static/img/indicator.gif') no-repeat center center;
	background-size: 20px 20px;
}
