html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
	overflow-x: hidden;

}

.wrap > .container {
	padding: 70px 15px 20px;
}

.text-line_trough {
	text-decoration: line-through;
}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 768px) {
	.wrap > .container {
		width: calc(100vw - 16px);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1400px) {
	.wrap > .container {
		width: 90%;
		/*width: calc(100vw - 120px);*/
	}
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
	margin: 1%;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view .filters input,
.grid-view .filters select {
	min-width: 50px;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
	padding: 8px;
}

@media (max-width: 768px) {
	.nav li > form {
		padding: 3px;
	}
}

.nav > li > form > button:hover {
	text-decoration: none;
}

div.required label:after {
	content: " *";
	color: #ff0000;
}

/* Article style */
.article-item {
	margin-bottom: 15px;
}

.article-span {
	text-align: center;
}

.qualified {
	background-color: #5cb85c !important;
}

.article-item .article-title,
.article-item .article-title a {
	color: inherit;
	margin: 0;
}

.article-item .article-meta,
.article-item .article-meta a {
	color: #7e7e7e;
	font-size: 11px;
	margin-bottom: 2px;
}

.article-item .article-text {
	margin-top: 7px;
}

/* task */

.input-group-addon {
	background-color: #337ab7;
	color: #FFF;

}

.mg-15 {
	margin-bottom: 15px;
}

.add-terc {
	cursor: pointer;
}


/* task-status */

.task-status-search {
	min-height: 70px;
}

.mt-25 {
	margin-top: 25px;
}

.modal-dialog {
	min-width: 90%;
}


.comments {
	margin: 0;
}

#causecategory-color-cont {
	background-color: white;
}

#causecategory-color {
	display: none;
}

.sp-krajee.sp-replacer {
	width: 200px;
}

.sp-preview {
	width: 180px;
}

.swal2-progresssteps .swal2-progresscircle {
	width: 6em;
}

.fc-event-container a:focus {
	color: white;
}


.pay-wrapper {
	padding: 16px;
	margin-bottom: 16px;
}

.border {
	border: solid 2px;
}

.border-green {
	border-color: green;
}

.border-red {
	border-color: red;
}


@media print {
	.no-print, .no-print > * {
		display: none !important;
	}
}

@media (max-width: 480px) {

	.grid-view colgroup {
		display: none;
	}

	.grid-view .filters td:first-child {
		display: none;
	}

	.grid-view thead tr:first-child {
		display: none;
	}

	.grid-view .select2-selection {
		text-align: left;
	}
}

th.kv-nowrap {
	white-space: break-spaces;
}


.input-sm {
	height: 30px;
}

.text-uppercase {
	text-transform: uppercase;
}

.issue-users {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
	grid-gap: 1rem;
}


.half-transparent {
	opacity: 0.5;
}


.ui-autocomplete-loading {
	background: url('/static/img/indicator.gif') no-repeat center center;
	background-size: 20px 20px;
}

input[type="tel"]::placeholder {
	color: transparent;
}

input[type="tel"]::-moz-placeholder {
	color: transparent;
}

input[type="tel"]::-webkit-input-placeholder {
	color: transparent;
}

input[type="tel"]::-ms-input-placeholder {
	color: transparent;
}


.title-with-nav {
	display: flex;
	align-items: center;
}

.title-with-nav .nav {
	font-size: 14px;
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.mb-0 {
	margin-bottom: 0;
}


div:target {
	box-shadow: 0 2px 6px rgba(255, 0, 0, 0.5);
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-name: highlight;
	animation-timing-function: ease-in-out;
	margin-top: 20px;
}

@keyframes highlight {
	from {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	to {
		box-shadow: 0 2px 6px rgba(255, 0, 0, 0.5);
	}
}


.grid-view .tags-wrapper a {
	color: #33596f
}

.grid-view .tags-wrapper a:hover {
	color: #06283d
}

.grid-view .tags-wrapper label {
	font-size: 85%;
	font-weight: 600;
}

.tags-wrapper label {
	display: inline-block;
}

.tags-wrapper .label {
	display: inline-block;
}


.issue-users legend .tags-wrapper .label {
	font-size: 0.6em;
}

.panel-transparent {
	opacity: 0.5;
}


.reminder-grid-modal {
	position: relative;
}

.reminder-grid-modal .create-btn {
	position: absolute;
	right: 7px;
	top: 7px;
}
